<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
    <h2>Menu</h2>
      <button  routerLink="/gerenciar" mat-icon-button>
        <mat-icon class="grade-icon">grade</mat-icon>
      </button>
      <h3>Gerenciar turma</h3>

      <button class="revisao-turma" routerLink="/" mat-icon-button>
        <mat-icon>density_medium</mat-icon>

      </button>
      <h3>Visualizar turma</h3>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-icon-button color="primary" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>  
  </mat-drawer-container>