.title{
    margin-left: 20%;
}

.grade-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.revisao-turma{
    margin-top: 45%;
    display: flex;
    justify-items: end;
}

.example-container {
    width: 100%;
    height: 90%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {

    display: flex;
  }
  
  .example-sidenav {
    padding: 5px;    
    width: 8%;
  }
  