<!-- menu rápido lateral -->
<mat-drawer-container class="telainteira" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h2>Menu rápido</h2>
  
    <button class="botaomenu" routerLink="/menu" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
    </button>
    <h3>Voltar ao menu</h3>
  
    <button  routerLink="/gerenciar" mat-icon-button>
      <mat-icon class="grade-icon">grade</mat-icon>
    </button>
    <h3>Gerenciar turma</h3>
  
    <button class="revisao-professores" routerLink="/professor" mat-icon-button>
      <mat-icon>person_pin</mat-icon>
    </button>
    <h3>Gerenciar professores</h3>  
  
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-icon-button color="primary" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
  
<div class="example-action-buttons">

</div>
<!-- Conteúdo da página -->
<mat-accordion class="example-headers-align" multi>

<!-- Painel de Turmas -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Criar turmas
    </mat-panel-title>
    <mat-panel-description>Criar e gerenciar turmas</mat-panel-description>
  </mat-expansion-panel-header>

<button mat-button (click)="openDialog(null)">Criar nova turma</button>
</mat-expansion-panel>

<!-- Painel de faltas -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Informações da aula
    </mat-panel-title>
    <mat-panel-description>
      Informe a turma e a matéria para ministrar faltas.
    </mat-panel-description>

  </mat-expansion-panel-header>
  <h2>Lançar falta no mesmo dia da aula!!</h2>
    <mat-form-field class="campoTurma">
      <mat-label>Turma</mat-label>
      <mat-select #turmaSelect (selectionChange)="getAlunosFilter(turmaSelect.value, materiaSelect.value)">
        <mat-option
        *ngFor="let Turmas of turmas" [value]="Turmas">{{Turmas}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="campoMateria">
      <mat-label>Matéria</mat-label>
      <mat-select #materiaSelect (selectionChange)="getAlunosFilter(turmaSelect.value, materiaSelect.value)"  >
        <mat-option 
        *ngFor="let Materias of materias" [value]="Materias">{{Materias}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <br>
    <!-- Tabela de nomes para ministrar faltas -->

    <table mat-table color="primary" *ngIf="showButton" [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Coluna de nome  -->
    <ng-container matColumnDef="nome_aluno">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome_aluno}} </td>
    </ng-container>
      <!-- Coluna de TIA  -->
      <ng-container matColumnDef="tia">
        <th mat-header-cell *matHeaderCellDef> TIA </th>
        <td mat-cell *matCellDef="let element"> {{element.tia}} </td>
      </ng-container>
      <!-- Coluna de ações (falta) -->
      <ng-container matColumnDef="falta">
        <th  mat-header-cell *matHeaderCellDef> Falta </th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle [(ngModel)]="element.presence" (change)="togglePresence(element)">Lançar falta</mat-slide-toggle>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <button mat-raised-button (click)='reloadPage() '*ngIf="showButton" class="confirmButton">
      Confirmar
  </button>
  </mat-expansion-panel>

  <!-- Painel de relatório de faltas -->
  <mat-expansion-panel (click)="getPresenca('null', 'null','null')">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Relatório de faltas
      </mat-panel-title>
      <mat-panel-description>
        Visualizar faltas e excluir caso necessário
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table mat-table [dataSource]="dataSourcePresenca">
      <ng-container matColumnDef="nome_falta">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let item"> {{item.student.nome_aluno}} </td>
      </ng-container>
      <ng-container matColumnDef="tia_falta">
        <th mat-header-cell *matHeaderCellDef> TIA </th>
        <td mat-cell *matCellDef="let item"> {{item.student.student_details.tia}} </td>
      </ng-container>
      <ng-container matColumnDef="data_falta">
        <th mat-header-cell *matHeaderCellDef> Data da falta </th>
        <td mat-cell *matCellDef="let item"> {{item.data}} </td>
      </ng-container>
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Deletar </th>
        <td mat-cell *matCellDef="let item">
          <button mat-icon-button color="primary" (click)="deletePresenca(item.id)">
            <mat-icon>delete</mat-icon>
          </button>
    
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="colunasMostradas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunasMostradas;"></tr>
    </table>
  </mat-expansion-panel>

</mat-accordion>
