<h1 mat-dialog-title>Criar Aluno</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nome completo</mat-label>
    <input matInput [(ngModel)]="data.nome_aluno">
  </mat-form-field>
  <hr>
  <mat-form-field appearance="fill">
    <mat-label>Código de matrícula</mat-label>
    <input matInput [(ngModel)]="data.tia">
  </mat-form-field>
  <hr>
  <mat-form-field appearance="fill">
    <mat-label>Turma</mat-label>
    <mat-select [(ngModel)]="data.sala_aluno">
      <mat-option *ngFor="let Turmas of turmas" [value]="Turmas">{{Turmas}}</mat-option>
    </mat-select>
  </mat-form-field>
  <hr>
  <mat-form-field appearance="fill">
    <mat-label>Curso</mat-label>
    <mat-select [(ngModel)]="data.curso_aluno">
      <mat-option *ngFor="let Materias of materias" [value]="Materias">{{Materias}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Concluir</button>

</div>
