<div id="selects">
<form class="form">
    <mat-form-field class="example-full-width">
      <mat-label>TIA</mat-label>
      <input matInput value="" required>
    </mat-form-field>
  
    <mat-form-field class="example-full-width" align="center">
      <mat-label>Comentário</mat-label>
      <textarea matInput placeholder="Ex. Aluno atrasou..."></textarea>
    </mat-form-field>
</form>

<mat-radio-group aria-label="Select an option" class="select">
  <mat-radio-button value="1">Presente</mat-radio-button>
  <mat-radio-button value="2">Faltante</mat-radio-button>
</mat-radio-group>

  <section>
    <div class="example-button-row">
      <button mat-raised-button>Salvar</button>
    </div>
  </section>

</div>